
p[id^=kostka]{
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    border-color: black;
}
p.celkem ,p.mezisoucet,p.oznaceno{
    border: 0;
    display:grid;
    height: 30px;
    text-align: left;
}
div#hrac1{
    width: 50%;
    float: left;
}
div#hrac2{
    width: 50%;
    float: right;
}
p {
    display: inline;
}

